*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

/* Hero Section styles */

.hero__section{
    background-image:url('WebImages/heroSectionBackground.png');
    background-size:cover;
    background-position:center;
    color:white;
    min-height:60vh;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:65px;
    padding:30px 350px;
}
.navbar a{
    color:white;
    height:20px;
    text-decoration:none;
    font-size:16px;
    font-weight:320;
}
.menu_container{
    display:flex;
    gap:30px;
}
.user_icon{
    height:22px;
    width:22px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:100%;
    border: solid 1px white;
    display:none;
}

.hero__section_container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
    height:400px;
}
.hero__section_logo{
    width:290px;
    height:auto;
    padding:10px;
}
.hero__section_title{
    text-align:center;
    font-size:35px;
    font-weight:400;
    font-family:"Poppins", sans-serif;
}
.hero__section_input_container{
    background-color:white;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:45%;
    border-radius:8px;
}
.input_container_location,.input_container_search{
    border:none;
    outline:none;
    padding:5px;
}
.input_container_location{
    width:35%;
    border-right:1.5px solid #c7c4c4;
}
.input_container_search{
    width:65%;
}


@media only screen and (max-width:600px){
    .navbar .menu_container .user_icon{
        display:flex;
    }
    .link{
        display:none;
    }
    .hero__section{
        min-height:80vh;
    }
    .hero__section_container{
        flex-direction:column;
        background-color:transparent;
        width:100%;
        height:calc(80vh - 40px);
    }
    .input_container_location,.input_container_search{
        padding:18px;
        border-radius:10px;
        width:98%;
    }
    .hero__section_title{
        font-size:20px;
        width:95%;
        
    }
}
.container{
    margin:3rem auto;
    width:90%;
}

/* We offer styles */

.we__offer{
    display:flex;
    flex-wrap:wrap;
    gap:0.6rem;
    align-items:center;
    justify-content:center;
}
.we__offer_card{
    border-radius:20px;
    overflow:hidden;
    border:1px solid #e0e0e0;
    transition: all 0.3s ease;
    margin-right:11px;
    width:345px;
}

.we__offer_card:hover{
    transform:scale(1.05);
    cursor:pointer;
}

.we__offer_card img{
    width:100%;
    height:160px;
    object-fit:cover;
    object-position:center;
}
.we__offer_content{
    padding:10px;
}
.we__offer_content h2{
    font-size:19px;
    font-weight:410;
}
.we__offer_content p{
    font-size:15px;
    font-weight:400;
    color:rgb(91, 90, 90);
}

/* Collections styles */

.collections h1{
    font-weight:500;
    font-size:2rem;
    padding-left:218px;
}
.collections .sub_heading_container{
    font-size:17px;
    font-weight:300;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:1rem;
    padding-left:218px;
}
.sub_heading_container span:nth-child(2){
    color:#ff7e8b;
    font-size:15px;
    cursor:pointer;
    padding-right:220px;
}

.sub_heading_container span:nth-child(2)::after{
    color:#ff7e8b;
    content: "→";
}

.collections_card_container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:1rem;
    margin-top:2rem;
}
.collections_card_container .card{
    height:310px;
    min-width:260px;
    background-size:cover;
    background-position:center;
    border-radius:6px;
    position:relative;
    cursor:pointer;
}
.card1{
    background-image:url('WebImages/collections1.png');
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url('WebImages/collections1.png');
}
.card2{
    background-image:url('WebImages/collections2.png');
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url('WebImages/collections2.png');
}
.card3{
    background-image:url('WebImages/collections3.png');
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url('WebImages/collections3.png');
}
.card4{
    background-image:url('WebImages/collections4.png');
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url('WebImages/collections4.png');
}
.overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    border-radius:10px;
    background: linear-gradient(
        90deg,
        rgba(225, 0, 0, 1) 0%  
        rgba(225, 0, 0, 1) 50%
        rgba(225,0,0,1) 85%
    );
    z-index:6;
}
.collections_card_container .card .content{
    position:absolute;
    bottom:0;
    left:0;
    color:white;
    padding:11px 16px;
    font-size:0.9rem;
    z-index:6;
}
.collections_card_container .card .content span::after{
    content: "→";
    padding-left:7px;
    font-size:17px;
}

.content h4{
    font-weight:400;
    letter-spacing:0.5px;
}

/* Localities section */
.localities{
    margin-top:100px;
}
.localities h1{
    padding-left:300px;
    font-weight:400;
    font-size:2rem;
    margin-bottom:30px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the boxes horizontally */
    gap: 20px; /* Gap between the boxes */
    max-width:1100px; /* Optional: limit the total width of the boxes */
    margin: 0 auto; /* Center the container on the page */
  }
  
  /* Styling for each box */
  .box {
    flex: 1 1 calc(33.33% - 20px); /* 3 boxes per row, accounting for gap */
    background-color: #ffffff; /* Box background color */
    border: 1px solid #e1e1e1; /* Box border */
    padding: 7px 15px; /* Padding inside the box */
    box-sizing: border-box; /* Include padding in box width */
    border-radius:7px;
    cursor:pointer;
    position:relative;
  }

  .box:hover {
    box-shadow: 0 4px 8px rgba(89, 89, 89, 0.1);
  }

  .box h4{
    font-size:20px;
    font-weight:400;
    display:inline-block;
    margin-right:30px;
  }

  .box h4::after{
    content: "→";          /* Adds a down arrow after the text */
    font-size: 15px;
    position:absolute;
    right:25px;
    top:50%;
    transform:translateY(-50%);
}
  
  /* Styling for text inside the box */
  .box p {
    margin: 0;
    padding: 6px 0; /* Space between the lines of text */
    font-weight:300;
    font-size:1rem;
  }
  .box span{
    text-align:center;
    display:inline-block;
    padding:20px 110px;
    font-size:1rem;
    font-weight:400;
  }

  .box span::after {
    content: "▼";            /* Adds a down arrow after the text */
    font-size: 13px;           /* Adjust size of the arrow */
    margin-left: 10px;          /* Adds space between the text and the arrow */
    vertical-align: middle;
  }

/* Get the App styles */
.get_the_app{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(255, 251, 247);
    width:100%;
    padding:3rem 6rem;
    margin-top:100px;
}
.get_the_app .semiContainer{
    display:flex;
    width:60%;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:1.5rem;
}
.get_the_app .semiContainer .left{
    flex:2;
}
.get_the_app .semiContainer .left img{
    width:400px;
    object-fit:cover;
    object-position:center;
}
.get_the_app .semiContainer .right{
    flex:3;
    display:flex;
    height:400px;
    flex-direction:column;
    gap:1.5rem;
}
.right h1{
    font-weight:410;
    font-size:2.5rem;
}
.right p{
    font-size:1rem;
    font-weight:300;
}
.right .radio_button_container{
    display:flex;
    align-items:center;
    gap:2rem; 
}
.right .radio_button_container div{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0.5rem;
}
.right .radio_button_container div input{
    height:18px;
    width:18px;
    accent-color:rgb(239,79,95);
}

.input_container{
    flex-wrap:wrap;
}

.right .input_container{
    display:flex;
    gap:1rem;
}
.input_container button, .input_container input{
    padding:15px 15px;
    border-radius:7px;
}
.input_container input{
    flex:auto;
    border:0.5px solid #dad8d8;
    outline:none;
    font-size:16px;
    gap:1rem;
    font-weight:350;
}
.input_container button{
    font-size:15px;
    color:white;
    border:none;
    background-color:rgb(239,79,95);
    cursor:pointer;
    gap:1rem;
}
.input_container button:hover{
    background-color:rgb(222, 56, 72);
}
.right .download_app_container{
    display:flex;
    flex-direction:column;
    gap:0.7rem;
}
.right .download_app_container h5{
    font-weight:300;
    color:gray;
    outline:none;
    border-radius:10px;
}
.right .download_app_container div{
    display:flex;
    gap:1rem;
}
.right .download_app_container div img{
    width:30%;
    cursor:pointer;
}
@media only screen and (max-width:1300px){
    .get_the_app .semiContainer .left,
    .get_the_app .semiContainer .right{
        flex:1;
    }
    .get_the_app .semiContainer{
        width:80%;
        
    }
}
@media only screen and (max-width:900px){
    .get_the_app {
        padding:2rem 0;
    }
    .get_the_app .semi_container{
    width:95%;
    flex-direction:column;
    }
}

/* Explore section */
.explore_container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    padding:30px 350px;
    background-color:rgb(250, 249, 249);
}

.explore_container h1{
    align-items:center;
    justify-content:center;
    width:100%;
    position: relative;
    display: inline-block;
    font-weight:400;
    font-size:1.8rem;
    padding: 20px 1px;
    left:-35px;
}

/* Dropdown Styles */
.dropdown {
    display: flex;
    justify-content: flex-start; 
    position: relative; 
    margin-bottom: 25px;
    width:100%;
    left:-35px;
}

.dropdown-button {
    background-color:white;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 18px 30px;
    border: solid 0.2px rgb(218, 218, 218);
    cursor: pointer;
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 7px;
    outline: none; 

}

.dropdown-button::after {
    content: "▼";
    font-size: 15px;
    margin-left: 10px;
}

.dropdown-content {
    display: none; 
    position: absolute; 
    background-color:white;
    box-shadow: 0px 0px 0px 0px rgb(6, 6, 6);
    z-index: 1;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    width: 100%; 
    top: 100%; 
    left: 0; 
    padding: 10px 5px; 
    box-sizing: border-box;
    border: 0.2px solid rgb(218, 218, 218);
}

.dropdown-content a {
    color:gray;
    font-weight:300;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.raised-dot {
    display: inline-block;
    margin: 0 6px; /* Space around the dot */
    vertical-align: super; /* Raise the dot slightly */
    font-size: 2rem; 
    color: gray; 
}


/* Footer Styles */
.footer{
    width:100%;
}
.footer_section{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:flex-start;
    width:80%;
    margin:auto;
    padding-left:125px;
}
.footer_section img{
    width:130px;
}
.footer_section, .section1_buttons{
    gap:700px; /* Gap b/w the logo and 2 buttons */
}
.section1_buttons{ 
    display:flex;     
    gap:1rem; /* Gap between the two buttons */
}
.section1_buttons button{
    padding:8px 50px;
    width:90px;
    border: 1px solid rgb(184, 180, 180);
    border-radius:5px;
    background-color:transparent;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    gap:10px;
    font-size:17px;
}
.nav_container{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    width:65%;
    margin:auto;
    gap:1rem;
    padding:3rem 0;
}
.nav_container .links img{
    width:70%;
    cursor:pointer;
    padding:5px;
}
.links{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.links h5{
    font-weight:405;
    font-size:14.5px;
    margin-bottom:6px;
    letter-spacing:1.35px;
}
.footer_link{
    text-decoration:none;
    color:gray;
    font-size:13.5px;
    font-weight:300;
}
.footer_link:hover{
    color:rgb(26, 26, 26);
}
.links_container button{
    background-color:black;
    border:none;
    width:25px;
    height:25px;
    border-radius:30px;
    cursor:pointer;
}
.links_container button i{
    color:white;
    display:flex;
    font-size:13px;
    align-items:center;
    justify-content:center;
}
.footer_app_link{
    width:100%;
}
.disclaimer{
    width:65%;
    color:black;
    margin:auto;
    border-top: 1px solid gray;
    padding-top:1.5rem;
    font-size:13px;
    font-weight:300;
}

@media only screen and (max-width:900px){
    .nav_container{
        grid-template-columns:repeat(3,1fr);
    }
}
@media only screen and (max-width:500px){
    .nav_container{
        grid-template-columns:repeat(2,1fr);
    }
}
@media only screen and (max-width:320px){
    .nav_container{
        grid-template-columns:repeat(1,1fr);
    }
}
